<h2 class="text-center" id="edit_header">EDIT USER</h2>
<div class="container">
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'NAME' %>
        </div>

        <% if current_user.avatar? %>
          <div class="form-group">
            <p>Current photo</p>
            <%= image_tag( current_user.avatar.profile.url ) %>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
        </div>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'EMAIL' %>
        </div>

        <div class="client_forms">
           <div class="form-group">
              <%= f.text_field :neck, autofocus: true, class: 'form-control', placeholder: "NECK" %>
           </div>
           <div class="form-group">
              <%= f.text_field :chest, autofocus: true, class: 'form-control', placeholder: "CHEST" %>
           </div>
           <div class="form-group">
              <%= f.text_field :sleeve, autofocus: true, class: 'form-control', placeholder: "LENGTH" %>
           </div>
           <div class="form-group">
              <%= f.text_field :length, autofocus: true, class: 'form-control', placeholder: "WAIST" %>
           </div>
           <div class="form-group">
              <%= f.text_field :waist, autofocus: true, class: 'form-control', placeholder: "INSEAM" %>
           </div>
           <div class="form-group">
              <%= f.text_field :inseam, autofocus: true, class: 'form-control', placeholder: "SHOE SIZE" %>
           </div>
           <div class="form-group">
              <%= f.text_field :shoe, autofocus: true, class: 'form-control', placeholder: "SUIT SIZE" %>
           </div>
           <div class="form-group">
              <%= f.text_field :shirt, autofocus: true, class: 'form-control', placeholder: "SHIRT SIZE" %>
           </div>
           <div class="form-group">
              <%= f.text_field :pant, autofocus: true, class: 'form-control', placeholder: "PANT SIZE" %>
           </div>
        </div>

        <div class="form-group">
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Enter current password to save' %>
        </div>


        <div class="form-group col-md-4 col-md-offset-4">
          <%= f.submit "SAVE", class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>

    <div class="back_link col-md-4 col-md-offset-4 text-center">
      <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>
      <%= link_to "BACK", :back, class: "back_btn" %>
      <%= button_to "DELETE ACCOUNT", registration_path(resource_name), class: "del_btn", data: { confirm: "Are you sure?" }, method: :delete %>
    </div>

  </div>
</div>
