  <%= image_tag('lapel_black.png', class: "logo-side text-center") %>
  <div class="profile_pic text-center">
     <%= link_to image_tag('http://robohash.org/my-own-slug.png?size=100x100', id: "pro_image", class: "img-circle"), edit_user_registration_path %>
     <p class="small">
       <%= current_user.name %><br/>
       <%= current_user.role %>
     </p>
  </div>

  <div class="navigation">
     <ul class="nav_list text-center">
        <li data-toggle="tooltip" data-placement="right" title="DASHBOARD" class="side-tooltip"><%= link_to image_tag('dash.png', class: 'img-sidebar'), landing_dash_app_path %></li>
        <li data-toggle="tooltip" data-placement="right" title="CLIENTS" class="side-tooltip"><%= link_to image_tag('clients.png', class: 'img-sidebar'), internal_clientele_path %></li>
        <li data-toggle="tooltip" data-placement="right" title="INVENTORY" class="side-tooltip"><%= link_to image_tag('inventory.png', class: 'img-sidebar'), internal_inventory_path %></li>
        <li class="panel" role="button" data-toggle="collapse" href="#options_accord" aria-expanded="false" aria-controls="options_accord"><%= image_tag('gear.png', class: 'img-sidebar') %></li>
        <ul class="panel collapse" id="options_accord">
           <li><%= link_to "ADD ACCOUNT", new_user_account_path(current_user), class: "list_lg" %></li>
           <li><%= link_to "ADD ITEM", new_item_path, class: "list_lg" %></li>
           <li><%= link_to "ADD ORDER", orders_add_path, class: "list_lg" %></li>
           <li><%= link_to "ADD APPT", appointments_add_path, class: "list_lg" %></li>
           <li><%= link_to 'LOGOUT', destroy_user_session_path, class: "list_lg", method: :delete %></li>
        </ul>
     </ul>
  </div>
