<h3 class="text-center" id="dash-head">DASHBOARD</h3>
<div class="row status_head">
  <div class="col-md-3">
    <h4>REQUESTED</h4>
  </div>
  <div class="col-md-3">
    <h4>PROCESSED</h4>
  </div>
  <div class="col-md-3">
    <h4>DELIVERED</h4>
  </div>
  <div class="col-md-3">
    <h4>COMPLETED</h4>
  </div>
</div>


<div class="activity_list row">
   <div class="act_list col-md-3" id="requested">
      <% if @order_statuses.find(1).orders.length > 0 %>
         <% @order_statuses.find(1).orders.each do |order| %>
          <%= link_to([order.user, order]) do %>
            <div class="order_box">
                <h5><%= order.user.name %></h5>
                <p class="small"><%= "#{order.items.count} items, $#{order.subtotal}" %></p>
                <p class="small"><%= "last updated #{time_ago_in_words(order.updated_at)} ago" %></p>
            </div>
          <% end %>
        <% end %>
      <% else %>
         <p>No requested orders</p>
      <% end %>
      <% if @appointment_statuses.find(1).appointments.length > 0 %>
         <% @appointment_statuses.find(1).appointments.each do |appt| %>
           <%= link_to([appt.user, appt]) do %>
               <div class="order_box">
                  <h5><%= appt.user.name %></h5>
                  <p class="small">
                    <%= "#{appt.role} scheduled" %>
                    <%= "on #{appt.datetime.strftime("%m/%d/%y, %l:%M %p")}" %>
                    <%= "at #{appt.location}" %>
                  </p>
               </div>
            <% end %>
        <% end %>
      <% else %>
        <p>No requested appointments.</p>
      <% end %>
   </div>
   <div class="act_list col-md-3" id="processing">

      <% if @order_statuses.find(2).orders.length > 0 %>
         <% @order_statuses.find(2).orders.each do |order| %>
         <%= link_to([order.user, order]) do %>
           <div class="order_box">
               <h5><%= order.user.name %></h5>
               <p class="small"><%= "#{order.items.count} items, $#{order.subtotal}" %></p>
               <p class="small"><%= "last updated #{time_ago_in_words(order.updated_at)} ago" %></p>
           </div>
         <% end %>
            <% end %>
      <% else %>
         <p>No processed orders</p>
      <% end %>
      <% if @appointment_statuses.find(2).appointments.length > 0 %>
         <% @appointment_statuses.find(2).appointments.each do |appt| %>
         <%= link_to([appt.user, appt]) do %>
           <div class="order_box">
              <h5><%= appt.user.name %></h5>
              <p class="small">
                <%= "#{appt.role} scheduled" %>
                <%= "on #{appt.datetime.strftime("%m/%d/%y, %l:%M %p")}" %>
                <%= "at #{appt.location}" %>
              </p>
           </div>
          <% end %>
            <% end %>
         <% else %>
         <p>No processed appointments</p>
         <% end %>
   </div>
   <div class="act_list col-md-3" id="delivered">

      <% if @order_statuses.find(3).orders.length > 0 %>
         <% @order_statuses.find(3).orders.each do |order| %>
         <%= link_to([order.user, order]) do %>
           <div class="order_box">
               <h5><%= order.user.name %></h5>
               <p class="small"><%= "#{order.items.count} items, $#{order.subtotal}" %></p>
               <p class="small"><%= "last updated #{time_ago_in_words(order.updated_at)} ago" %></p>
           </div>
         <% end %>
        <% end %>
      <% else %>
         <p>No delivered orders</p>
      <% end %>
   </div>
   <div class="act_list col-md-3" id="completed">

      <% if @order_statuses.find(4).orders.length > 0 %>
         <% @order_statuses.find(4).orders.each do |order| %>
         <%= link_to([order.user, order]) do %>
           <div class="order_box">
               <h5><%= order.user.name %></h5>
               <p class="small"><%= "#{order.items.count} items, $#{order.subtotal}" %></p>
               <p class="small"><%= "last updated #{time_ago_in_words(order.updated_at)} ago" %></p>
           </div>
         <% end %>
        <% end %>
      <% else %>
         <p>No completed orders</p>
      <% end %>

      <% if @appointment_statuses.find(4).appointments.length > 0 %>
         <% @appointment_statuses.find(4).appointments.each do |appt| %>
         <%= link_to([appt.user, appt]) do %>
           <div class="order_box">
              <h5><%= appt.user.name %></h5>
              <p class="small">
                <%= "#{appt.role} scheduled" %>
                <%= "on #{appt.datetime.strftime("%m/%d/%y, %l:%M %p")}" %>
                <%= "at #{appt.location}" %>
              </p>
           </div>
          <% end %>
            <% end %>
         <% else %>
         <p>No completed appointments</p>
         <% end %>
   </div>
</div>
