<!-- HEADER -->
<div class="infosite">
   <div id="header" class="row">
       <div id="delay-fade" class="col-xs-12 animated fadeIn delay text-center">
           <%= image_tag("lapel-white.png", id: "logo-header", class: "header img-responsive") %>
           <h2 id="tagline" class="heading">Welcome to better</h2>
           <button type="button" class="btn btn-top animated zoomIn delay" data-toggle="modal" data-target="#apply">Apply</button>
           <!-- <a href="#"><button type="button" class="btn btn-top">Log In</button></a> -->
       </div>
   </div>

   <!-- VISION -->
   <div id="vision" class="row">
       <div class="col-xs-8 col-xs-offset-2 text-center">
   		<h2 id="vision-heading" class="heading wow animated fadeInUp">Simple, but significant</h2>
       	<h3 id="vision-detail" class="wow animated fadeIn delay">LAPEL IS THE NEW PLATFORM FOR MENSWEAR,<br /> BUILT AROUND GENTLEMEN'S PREFERENCES EVERYWHERE.</h3>
       </div>
   </div>

   <!-- SERVICE -->
   <div id="service" class="row">
   	<div class="col-xs-12 heading text-center">
   		<h2 class>Member Benefits</h2>
   	</div>
      <div class="services text-center">
          <div class="service-item col-xs-12 col-sm-4 text-center">
             <%= image_tag("calendar.png", class: "animated img-responsive wow grow delay-1") %>
             <h3 class="wow animated fadeIn delay-1" title="Fresh razor, clean underwear, toothpaste.">REFILLABLE<br/>ESSENTIALS</h3>
             <div class="overlay">
               <h3>Fresh razor, clean underwear, toothpaste.</h3>
             </div>
          </div>

          <div class="service-item col-xs-12 col-sm-4 text-center">
            <%= image_tag("closet.png", class: "animated img-responsive wow grow delay-1") %>
            <h3 class="wow animated fadeIn delay-1" title="Built around you and your lifestyle, we'll build or polish your entire closet.">WARDROBE<br/>CONSTRUCTION</h3>
              <div class="overlay">
                  <h3>Built around you and your lifestyle, we'll build or polish your entire closet.</h3>
              </div>
          </div>
      	<div class="service-item col-xs-12 col-sm-4 text-center">
      		<%= image_tag("box.png", class: "animated img-responsive wow grow delay-1") %>
            <h3 class="wow animated fadeIn delay-1" title="Have everything you want, delivered wherever you are, whenever you need it.">ON-DEMAND<br/>DELIVERY</h3>
              <div class="overlay">
                  <h3>Have everything you want, delivered wherever you are, whenever you need it.</h3>
              </div>
          </div>
      </div>
   </div>
   <script>
   $(document).ready(function() {
   $('.service-item > img')
      .mouseenter(function() {
         var overlayDiv = $(this).siblings('.overlay')
         if (!overlayDiv.is(":visible"))
            overlayDiv.fadeIn();
   });

   $('.service-item > .overlay')
      .mouseleave(function() {
         if ($(this).is(":visible"))
            $(this).fadeOut();
   });
});

   </script>

   <!-- FINAL -->

   <div id="final" class="row">
       <div id="launch" class="col-xs-12 text-center">

         <div class="launch-item launchpad-1 col-xs-12 col-sm-4">
       		<h2 id="la">Los Angeles</h2>
            <h4>SPRING 2015</h4>
            <button type="button" class="btn wow animated zoomIn delay hidebtn" data-toggle="modal" data-target="#apply">Apply</button>
       	</div>

         <div class="launch-item launchpad-2 col-xs-12 col-sm-4" id="city2">
       		<h2 id="sf">San Francisco</h2>
            <h4>SUMMER 2015</h4>
       		<button type="button" class="btn wow animated zoomIn delay" data-toggle="modal" data-target="#apply">Apply</button>
       	</div>

         <div class="launch-item launchpad-3 col-xs-12 col-sm-4" id="city3">
       		<h2 id="ny">New York</h2>
            <h4>FALL 2015</h4>
            <button type="button" class="btn wow animated zoomIn delay hidebtn" data-toggle="modal" data-target="#apply">Apply</button>
         </div>

       </div>

       <div id="footer" class="col-xs-12 text-center">
       		<!-- <%= image_tag("lapel-white.png", class: 'footerbtn') %> -->
       </div>
   </div>

   <!-- MODALS -->
   <!-- Apply Modal -->
   <div class="modal fade col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" id="apply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   <h5 class="modal-title text-center" id="myModalLabel">Membership is by invitation only</h5>
               </div>
               <div class="modal-body">
                 <%= form_for @contact_form do |f| %>
                 	<%= f.text_field :name, :required => false, class: 'form-control', placeholder: 'NAME' %>
                 	<%= f.text_field :email, :required => false, class: 'form-control', placeholder: 'EMAIL' %>
                 	<%= f.text_field :phone, :required => false, class: 'form-control', placeholder: 'PHONE' %>
                 	<%= f.text_field :code, :required => false, class: 'form-control', placeholder: 'INVITE CODE' %>
                 	<%= f.submit "Submit", class: 'btn btn-sm' %>
                 <% end %>
               </div>
             </div>
           </div>
       </div>
   </div>

   <!-- End INFOSITE -->
</div>
