<div class="profile_page">
	 <div class="header text-center">
			<h3><%= current_user.name %></h3>
	 </div>

	<div class="main_content row">
		<div class="info col-md-4">
			<div class="info_inset text-left">
				<% if @user.name %>
				<p><%= "#{current_user.name}" %></p>
				<% else %>
				<p>NAME: <small>WE DON'T HAVE THIS NAME</small></p>
				<% end %>
				<% if @user.address %>
				<p><%= "#{current_user.address}" %></p>
				<% else %>
				<p>ADDRESS: <small>WE DON'T HAVE AN ADDRESS ON FILE</small></p>
				<% end %>
				<% if @user.email %>
				<p><%= "#{current_user.email}"%></p>
				<% else %>
				<p>EMAIL: <small>NOT ON FILE</small></p>
				<% end %>
				<% if @user.phone %>
				<p><%= "#{current_user.phone}"%></p>
				<% else %>
				<p>PHONE: <small>NOT ON FILE</small></p>
				<% end %>

			</div>

			<div class="measures_inset">
				<%= render 'partials/measurements' %>
				<h5 class="text-center">CONTACT YOUR LIAISON TO EDIT YOUR MEASUREMENTS</h5>
			</div>

		</div>

		<div class="show-main col-md-7">
				<div class="orders text-center">
						<% if current_user.orders.size == 0 %>
							<p>No orders to show. Add an order</p>
						<% else %>
							<h4>YOU HAVE <%= "#{current_user.orders.length}" %> ORDERS</h4>
							<% current_user.orders.each do |order| %>
								<div class="order_item">
									<p>
										<%= order.created_at.strftime("%m/%d/%y") %>
										<%= link_to "SEE MORE", [order.user, order] %>
									</p>
								</div>
							<% end %>
						<% end %>
						<p><%= link_to "ADD ORDER", new_user_order_path(@user)%></p>
				</div>

				<div class="wardrobe text-center">
					<h3>WARDROBE</h3>
					<div class="wardrobe_icon">
						<%= image_tag("wardrobe_white.svg")%>
					</div>

					<div class="wardrobe_icon">

					</div>

					<div class="wardrobe_icon">

					</div>
				</div>

				<div class="metrics text-center">
					<h3>METRICS</h3>
				</div>
		</div>
		<h5><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></h5>
		<h4><%= link_to "BACK", :back %></h4>
	</div>

</div>
