<div class="profile_page">
	 <div class="header text-center">
			<h3><%= current_user.name %></h3>
	 </div>

	<div class="main_content row">
		<div class="info col-md-6">
			<% if current_user.phone %>
			<p><%= "Phone: #{current_user.phone}" %></p>
			<% else %>
			<p>Phone: <small>WE DON'T HAVE THIS PHONE</small></p>
			<% end %>
			<% if @user.address %>
			<p><%= "Address: #{current_user.address}" %></p>
			<% else %>
			<p>Address: <small>WE DON'T HAVE THIS ADDRESS</small></p>
			<% end %>
		</div>
		<div class="col-md-6">
				 <div class="client_measurements">
					 <%= render 'partials/measurements' %>
				 </div>
		</div>
	</div>
	<div class="orders text-center">
			<h3>ORDERS</h3>
			<% if current_user.orders.size == 0 %>
				<p>No orders to show. Add an order</p>
			<% else %>
				<% current_user.orders.each do |order| %>
					<div>
						<p>
							<%= order.created_at.strftime("%m/%d/%y") %>
							<%= link_to "SEE MORE", [order.user, order] %>
						</p>
					</div>
				<% end %>
			<% end %>
			<p><%= link_to "ADD ORDER", new_user_order_path(@user)%></p>
	</div>
	<h4><%= link_to "BACK", :back %></h4>
</div>
