<div class="profile_page">
	<div class="row">
		<div class="main_content row">
			<div class="col-md-4">
				<div class="client-box">
					<div class="col-xs-3">
						<% if current_user.avatar? %>
							<%= image_tag(current_user.avatar.profile.url) %>
						<% else %>
							<%= image_tag('https://robohash.org/lapeldash', class: "img-circle img-item text-left") %>
						<% end %>
					</div>

					<div class="col-xs-9 details">
						<h5><%= current_user.name %></h5>
						<p class="small"><%= "Member since #{current_user.created_at.strftime('%b %d, %Y')}" %></p>
						<p class="small"><%= "Liaison : #{current_user.liaison.name}" %></p>
						<h6><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: 'log-out' %></h6>
					</div>
				</div>

				<div class="actions text-center">
					<span data-toggle="tooltip" data-placement="bottom" title="New Order">
						<%= link_to image_tag('cart.png'), new_user_order_path(current_user) %>
					</span>
					<span data-toggle="tooltip" data-placement="bottom" title="New Appointment">
						<%= link_to image_tag('appt.png'), new_user_appointment_path(current_user) %>
					</span>
					<span data-toggle="tooltip" data-placement="bottom" title="Email Liaison">
						<%= mail_to current_user.liaison.email, image_tag('mail.png') %>
					</span>
					<span data-toggle="tooltip" data-placement="bottom" title="Measurements">
						<%= image_tag('meas.png') %>
					</span>
				</div>


				<button type="button" class="btn btn-dropdown text-center" data-toggle="collapse" data-target="#detailsCollapse" aria-expanded="false" aria-controls="detailsCollapse">CONTACT INFO <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>

				<div class="collapse" id="detailsCollapse">
					<div class="client-info">
						<div class="info_inset text-center">
							<% if current_user.address %>
							<p><%= "#{current_user.address}" %></p>
							<% else %>
							<p><small>NO ADDRESS ON FILE</small></p>
							<% end %>
							<% if current_user.email %>
							<p><%= "#{current_user.email}"%></p>
							<% else %>
							<p><small>NO EMAIL ON FILE</small></p>
							<% end %>
							<% if current_user.phone %>
							<p><%= "#{current_user.phone}"%></p>
							<% else %>
							<p><small>NO PHONE ON FILE</small></p>
							<% end %>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="appt-alert text-center">
					<% unless current_user.appointments.last.appointment_status_id == 4 %>
						<p class="light-head"><%= "#{current_user.appointments.last.role} appointment on" %></p>
						<h3><%= current_user.appointments.last.datetime.strftime('%A, %b %d') %></h3>
						<h3><%= current_user.appointments.last.datetime.strftime('%l:%M %p') %></h3>
						<p class="light-head">at</p>
						<h4><%= current_user.appointments.last.location %></h4>
					<% else %>
						<p>You have no scheduled appointments</p>
						<%= link_to "New Appointment", new_user_appointment_path(current_user) %>
					<% end %>
				</div>

				<div class="metrics text-center">
					<div class="placeholders">
						<%= image_tag('pie.png', height: "50") %>
						<%= image_tag('bar.png', height: "50") %>
						<%= image_tag('dash.png', height: "50") %>
					</div>
				</div>


			</div>


			<div class="col-md-4">

				<div class="order-alert text-center">
					<%= link_to([current_user, current_user.orders.last]) do %>
						<p><%= "order #{current_user.orders.last.status} on" %></p>
						<h3><%= current_user.orders.last.updated_at.strftime('%m/%d/%y') %></h3>
						<p class="small"><%= "#{current_user.orders.last.items.count} Items - $#{current_user.orders.last.subtotal}" %></p>
					<% end %>
					<div class="order-notes">
						<% if current_user.orders.last.order_status_id == 1 %>
							<p class="small"></p>
						<% elsif current_user.orders.last.order_status_id == 2 %>
							<p class="small"><%= link_to "Please review the curation", [current_user, current_user.orders.last] %></p>
						<% elsif current_user.orders.last.order_status_id == 3 %>
						  <p class="small"></p>
						<% else %>
						  <%= link_to "New order", new_user_order_path(current_user), class:'btn' %>
						<% end %>
					</div>
				</div>

				<div class="order-history">
					<h5 class="text-center">Order History</h5>
					<div class="row">
						<% current_user.orders.each do |order| %>
							<%= link_to([current_user, order]) do %>
								<div class="col-xs-4">
									<%= order.updated_at.strftime('%m/%d/%y') %>
								</div>
								<div class="col-xs-4">
									<%= order.status %>
								</div>
								<div class="col-xs-4">
									<%= "$#{order.subtotal}" %>
								</div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
