<div class="profile_page">
	<div class="row">
		<div class="main_content row">

			<div class="col-md-4">
				<div class="client-box">
					<div class="col-xs-3">
						<% if current_user.avatar? %>
							<%= image_tag(current_user.avatar.profile.url) %>
						<% else %>
							<%= image_tag('https://robohash.org/lapeldash', class: "img-circle img-item text-left") %>
						<% end %>
						<%= link_to "edit", edit_user_registration_path(current_user) %>
					</div>
					<div class="col-xs-9 details">
						<h5><%= current_user.name %></h5>
						<p class="small"><%= "Member since #{current_user.created_at.strftime('%b %d, %Y')}" %></p>
						<p class="small"><%= "Liaison : #{current_user.liaison.name}" %></p>
					</div>
				</div>

				<div class="actions">
					<%= link_to image_tag('cart.png'), new_user_order_path(current_user) %>
					<%= link_to image_tag('appt.png'), new_user_appointment_path(current_user) %>
					<%= mail_to current_user.liaison.email, image_tag('mail.png') %>
				</div>

				<div class="client-info">
					<div class="info_inset text-center">
						<% if current_user.address %>
						<p><%= "#{current_user.address}" %></p>
						<% else %>
						<p><small>NO ADDRESS ON FILE</small></p>
						<% end %>
						<% if current_user.email %>
						<p><%= "#{current_user.email}"%></p>
						<% else %>
						<p><small>NO EMAIL ON FILE</small></p>
						<% end %>
						<% if current_user.phone %>
						<p><%= "#{current_user.phone}"%></p>
						<% else %>
						<p><small>NO PHONE ON FILE</small></p>
						<% end %>
					</div>
				</div>

				<div class="meas">
					<%= render 'internal/measurements' %><br/>
				</div>

			</div>

			<div class="col-md-4">
				<div class="appt-alert text-center">
					<% unless current_user.appointments.last.appointment_status_id == 4 %>
						<p class="light-head"><%= "#{current_user.appointments.last.role} appointment on" %></p>
						<h3><%= current_user.appointments.last.datetime.strftime('%A, %b %d') %></h3>
						<h3><%= current_user.appointments.last.datetime.strftime('%l:%M %p') %></h3>
						<p class="light-head">at</p>
						<h4><%= current_user.appointments.last.location %></h4>
					<% else %>
						<p>You have no scheduled appointments</p>
						<%= link_to "New Appointment", new_user_appointment_path(current_user) %>
					<% end %>
				</div>

				<div class="metrics">
					<div class="placeholders">
						<%= image_tag('pie.png', height: "50") %>
						<%= image_tag('bar.png', height: "50") %>
						<%= image_tag('dash.png', height: "50") %>
					</div>
				</div>


			</div>


			<div class="col-md-4">

				<div class="order-alert text-center">
					<%= link_to([current_user, current_user.orders.last]) do %>
						<p><%= "order #{current_user.orders.last.status} on" %></p>
						<h3><%= current_user.orders.last.updated_at.strftime('%m/%d/%y') %></h3>
						<p class="small"><%= "#{current_user.orders.last.items.count} Items - $#{current_user.orders.last.subtotal}" %></p>
					<% end %>
					<div class="order-notes">
						<% if current_user.orders.last.order_status_id == 1 %>
							<p class="small"></p>
						<% elsif current_user.orders.last.order_status_id == 2 %>
							<p class="small"><%= link_to "Please review the curation", [current_user, current_user.order.last] %></p>
						<% elsif current_user.orders.last.order_status_id == 3 %>
						  <p class="small"></p>
						<% else %>
						  <%= link_to "New order", new_user_order_path(current_user), class:'btn' %>
						<% end %>
					</div>
				</div>

				<div class="order-history">
					<h5 class="text-center">Order History</h5>
					<div class="row">
						<% current_user.orders.each do |order| %>
							<%= link_to([current_user, order]) do %>
								<div class="col-xs-4">
									<%= order.updated_at.strftime('%m/%d/%y') %>
								</div>
								<div class="col-xs-4">
									<%= order.status %>
								</div>
								<div class="col-xs-4">
									<%= "$#{order.subtotal}" %>
								</div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>




<!--
			<div class="show-main col-md-4">
					<div class="orders text-center">
						<% if current_user.appointments.size == 0 %>
							<p>No scheduled appointments</p>
						<% else %>
							<p><%= "Your next appointment is on #{current_user.appointments.last.datetime.strftime("%m/%d/%y")} at #{current_user.appointments.last.datetime.strftime("%l:%M %p")}" %></p>
						<% end %>
						<% if current_user.orders.size == 0 %>
							<p>No orders to show. Add an order</p>
						<% elsif current_user.orders.last.order_status_id == 1 %>
							<p><%= link_to "We are currently building your requested order", [current_user, current_user.orders.last] %></p>
						<% elsif current_user.orders.last.order_status_id == 2 %>
							<p><%= link_to "You have 1 curation to review", [current_user, current_user.orders.last] %></p>
						<% elsif current_user.orders.last.order_status_id == 3 %>
							<p><%= link_to "We are procuring your items for delivery", [current_user, current_user.orders.last] %></p>
						<% else %>
							<p>Your order has been delivered, please submit a new request.</p>
						<% end %>
						<p><%= link_to "ADD ORDER", new_user_order_path(@user)%></p>
					</div>

					<% if @user.role == "client" %>
					<div class="wardrobe text-center">
						<h3>WARDROBE</h3>
						<div class="wardrobe_icon">
							<%= image_tag("wardrobe_white.svg")%>
						</div>

						<div class="wardrobe_icon">

						</div>

						<div class="wardrobe_icon">

						</div>
					</div>
					<% end %>
					<div class="metrics">
						<%= image_tag('pie.png', height: "100") %>
						<%= image_tag('bar.png', height: "100") %>
						<%= image_tag('dash.png', height: "100") %>
					</div>
			</div>

			<div class="col-md-4">
			</div>

			<div class="info col-md-4">
				<div class="text-left">
					<%= image_tag('https://robohash.org/lapeldash', class: "img-circle img-item") %>

				</div>
				<div class="info_inset">
					<% if @user.address %>
					<p><%= "#{current_user.address}" %></p>
					<% else %>
					<p><small>NO ADDRESS ON FILE</small></p>
					<% end %>
					<% if @user.email %>
					<p><%= "#{current_user.email}"%></p>
					<% else %>
					<p><small>NO EMAIL ON FILE</small></p>
					<% end %>
					<% if @user.phone %>
					<p><%= "#{current_user.phone}"%></p>
					<% else %>
					<p><small>NO PHONE ON FILE</small></p>
					<% end %>
				</div>
				<div class="measures_inset">
					<%= render 'internal/measurements' %><br/>
					<p class="text-center small">CONTACT YOUR LIAISON TO EDIT YOUR MEASUREMENTS</p>
				</div>
			</div>
			 -->
		</div>
	</div>
</div>
