<% unless order_item.id.nil? %>
	<p>
		<%= order_item.quantity %>
		<%= order_item.item.name %>
		<%= order_item.item.desc %>
		<%= order_item.item.price %>
		<%= link_to "delete", [order_item.order.user, order_item.order, order_item], :method => :delete %>
	</p>
<% end %>
