<div class="container text-center">
	<h2><%= @order.created_at %></h2>
	<%= @order.order_items.size %>
	<% if @order.order_items.size > 0 %>
		<% @order.order_items.each do |order_item| %>
			<%= render partial: 'cart', locals: { order_item: order_item } %>
		<% end %>
	<% else %>
		<p> There are no items in your order.</p>
	<% end %>

	<%= render partial: 'order_items/new', locals: { user: @user, order: @order } %>

	<%= link_to 'Delete Order', [@order.user, @order], :method => :delete, :data => { :confirm => 'Are you sure?' } %>
</div>
