<div style="color:#d6d6d6;">
	<h3 >Add Items</h3>
	<% @items.each do |item| %>
		<div>
			<%= form_for [@user, @order, @order.order_items.build(:item_id => item.id)] do |f| %>
				<div class="form-group">
					<%= f.label item.name %>
					<%= f.label "$#{item.price.to_s}" %>
				</div>
				<div class="form-group">
					<%= f.label 'quantity' %>
					<%= f.text_area :quantity %>
				</div>
				<div class="form-group">
					<%= f.label 'item id' %>
					<%= f.text_area :item_id %>
				</div>
				<div class="form-group">
					<%= f.submit 'Add Item', class: 'btn' %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
