<% if current_user.client? %>
  <%= render "client/navbar" %>
<% end %>
<% if current_user.liaison? %>
   <div class="sidebar">
      <%= render 'internal/internalside' %>
   </div>
<% end %>
<h2 class="text-center">Create an Appointment</h2>
<div class="container">
  <div class="row">
    <%= form_for [@user, @user.appointments.build] do |f| %>
      <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
          <%= f.datetime_select :datetime, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.text_field :location, placeholder: 'Location', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.select :appointment_status_id, options_from_collection_for_select(AppointmentStatus.all, "id", "name") %>
        </div>

				<div class="form-group">
					<%= f.text_area :notes, placeholder: 'Notes', class: 'form-control' %>
				</div>

        <div class="form-group">
          <%= f.submit "Send", class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>

    <%= link_to "BACK", :back %>
  </div>
</div>
