<div class="sidebar col-md-2">
   <% if current_user.role == "liaison" %>
   <%= render "partials/internalside" %>
   <% elsif current_user.role == "client" %>
   <%= render "partials/clientside" %>
   <% else %>
   <h4>You're fat</h4>
   <% end %>
</div>

<div class="content col-md-10 col-md-offset-2">
   <div class="dashboard_activities">
      <% if current_user.role == "liaison" %>
         <%= render "partials/internaldashcontent" %>
      <% elsif current_user.role == "client" %>
         <%= render "partials/clientdashcontent" %>
      <% else %>
         <h2>You're fat.</h2>
      <% end %>
   </div>

   <% if current_user.role =="liaison"%>
      <%= render "partials/clientele" %>
   <% end %>

   <% if current_user.role == "liaison" %>
      <%= render "partials/inventory" %>
   <% end %>

</div>
