<div class="sidebar col-md-2">
   <%= image_tag('lapel_black.png', class: "lapel-side text-center") %>
   <h2 class="user_name_header text-center"><%= "#{current_user.name}" %></h2>
   <div class="profile_pic text-center">
      <%= image_tag('box.png', id: "pro_image", class: "img-circle") %>
      <%= link_to 'EDIT', edit_user_registration_path, class: "prolink text-center" %>
      <%= link_to "PROFILE", current_user %>
   </div>

   <div class="navigation">
      <ul class="nav_list">
         <li>DASHBOARD</li>
         <li>CLIENTELE</li>
         <li>INVENTORY</li>
      </ul>
   </div>

   <div class="options_section">
      <h4 class="panel text-center" rol="button" data-toggle="collapse" href="#options_accord" aria-expanded="false" aria-controls="options_accord">OPTIONS<span class="caret"></span></h4>
      <ul class="panel collapse" id="options_accord">
         <li><%= link_to "ADD CLIENT", new_user_registration_path, class: "list_lg" %></li>
         <li><%= link_to "ADD ITEM", new_item_path, class: "list_lg" %></li>
         <li><%= link_to 'LOGOUT', destroy_user_session_path, class: "list_lg", method: :delete %></li>
      </ul>
   </div>

</div>

<div class="content col-md-10 col-md-offset-2">

   <div class="dashboard_activities">
      <h2 class="text-center">DASHBOARD</h2>
      <div class="activity_list row">
         <div class="act_list col-md-3" id="requested">
            <h4>REQUESTED</h4>

         </div>
         <div class="act_list col-md-3" id="processing">
            <h4>PROCESSING</h4>
         </div>
         <div class="act_list col-md-3" id="delivered">
            <h4>DELIVERED</h4>
         </div>
         <div class="act_list col-md-3" id="completed">
            <h4>COMPLETED</h4>
         </div>
      </div>
   </div>

   <div class="clientele">
      <h2 class="text-center">CLIENTELE</h2>
      <div class="client_list">
         <% if current_user.clients.length > 0 %>
            <% current_user.clients.each do |client| %>
               <div class="client">
                  <%= client.name %>
                  <%= client.email %>
               </div>
               <% end %>
         <% else %>
            <div class="client_negative text-center">
               <h3>YOU HAVE NO CLIENTS.</h3>
            </div>

            <div class="extra_prompts">
               <h4>GO SELL SOMETHING!</h4>
            </div>
         <% end %>
      </div>
   </div>

   <div class="inventory">
      <h2 class="text-center">INVENTORY</h2>
      <div class="item_list">
         <% if @items.length > 0 %>
            <% @items.each do |item| %>
               <div class="item col-md-3">
                  <h4><%= item.name %></h4>
                  <h5>$<%= item.price %></h5>
               </div>
               <% end %>
         <% else %>
            <h3>There are no items currently in stock.</h3>
         <% end %>
      </div>

   </div>

</div>
